@import url("https://fonts.googleapis.com/css2?family=Inter:wght@300;400&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;

/* body {
  background-color: #f0f9ff;
} */
html,
body {
  font-family: "Inter", sans-serif;
}

a {
  text-decoration: none;
}

/* a:hover {
  color: #2563eb;
} */

.MuiStack-root.fade-in {
  display: none;
}

ul {
  list-style: none;
}

#demo-customized-button {
  font-size: 20px;
  color: #2d3748;
  background-color: #f7fafc;
}

#demo-customized-button:hover {
  background-color: #e2e8f0;
}
